@model IEnumerable<ItemEstoque>

<div class="container-fluid">

@{var categorias = new List<string> { "Alimento", "Bebida", "Higiene", "Limpeza", "Teste" };
            ViewData["Categorias"] = categorias;}

<form asp-action="Pesquisar" method="get">
    <div class="form-group">
        <label for="nome">Nome do Produto:</label>
        <input type="text" class="form-control" id="nome" name="nome"value=@ViewData["nome"]  />
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<form asp-action="PesquisarCategoria" method="get">
    <label>Pesquisar por categoria:</label>
    <select name="categoria">
        <option value="">Todos</option>
        @foreach (var cat in ViewData["Categorias"] as List<string>)
{
    <option value="@cat">@cat</option>
}
    </select>
    <button type="submit">Pesquisar</button>
</form>


<form asp-action="PesquisarQuantidade" method="get">
    <label>Pesquisar por quantidade:</label>
    <input type="radio" name="valor" value="Maior" id="maior" />
    <label for="maior">Maior</label>
    <input type="radio" name="valor" value="Menor" id="menor" />
    <label for="menor">Menor</label>
    <button type="submit">Pesquisar</button>
</form>

    
    <h1>Itens de Estoque</h1>
    
    <div class="row">
        <div class="col-md-12 text-center mb-3">
            <a asp-action="Cadastrar" class="btn btn-primary">Cadastrar Item de Estoque</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemEstoqueId</td>
                    <td>@item.Produto.Nome</td>
                    <td>@item.Quantidade</td>
                    <td>
                        <div class="btn-group">
                            <a asp-action="Editar" asp-route-id="@item.ItemEstoqueId" class="btn btn-warning">Editar</a>
                            <a asp-action="Detalhes" asp-route-id="@item.ItemEstoqueId" class="btn btn-danger">Excluir</a>
                            <a asp-action="Detalhes" asp-route-id="@item.ItemEstoqueId" class="btn btn-primary">Detalhes</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
