@model estoqueMVC2.Models.Produto

<div class="card">
    <form asp-action="Excluir" asp-route-id="@Model.ProdutoId" method="post">

    <div class="card-body">
        <h5 class="card-title">@Model.Nome</h5>
        <p class="card-text">@Model.Descricao</p>
        <p class="card-text">Preço: R$ @Model.Preco</p>
        <p class="card-text">Categoria: @Model.Categoria</p>
        
        <form asp-action="Excluir" asp-route-id="@Model.ProdutoId" method="post">
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
        <a asp-action="Editar" asp-controller="Produtos" asp-route-id="@Model.ProdutoId" class="btn btn-primary">Editar</a>
        <button type="submit" class="btn btn-secondary" >Fechar</button>
    </div>
    </form>
</div>