<div class="container-fluid">
    <div class="row justify-content-center mb-3">
        <a asp-action="Cadastrar" class="btn btn-success">Cadastrar Produto</a>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Categoria</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var produto in Model)
                        {
                            <tr>
                                <td>@produto.ProdutoId</td>
                                <td>@produto.Nome</td>
                                <td>@produto.Descricao</td>
                                <td>R$ @produto.Preco.ToString("F2")</td>
                                <td>@produto.Categoria</td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-action="Detalhes" asp-route-id="@produto.ProdutoId" class="btn btn-primary">Detalhes</a>
                                        <a asp-action="Editar" asp-route-id="@produto.ProdutoId" class="btn btn-warning">Editar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

